:root {
  --gray-color: #c9cbcf;
  --red-color: #312239;
  --from-black: invert(10%) sepia(10%) saturate(3802%) hue-rotate(236deg)
    brightness(90%) contrast(85%);
  --green-shadow-color: rgba(var(--red-color), 10%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
button {
  border: none;
  background-color: transparent;
}

body {
  font-size: 0.9rem;
  line-height: 1.1;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  background-color: #000;
  min-width: 100vw;
  overflow-x: hidden;
  /* opacity: 0; */
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.btn {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 1.2rem;
  background-color: var(--red-color);
  border: 0.5rem solid var(--red-color);
  border-radius: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  background-color: #000;
  color: var(--red-color);
  transition: background-color 0.5s ease-in-out;
}
.btn img {
  width: 1.6rem;
  height: 1.6rem;
  transition: all 0s ease-in-out;
}
.btn:hover img {
  filter: var(--from-black);
}
.section__suptitle {
  color: var(--red-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.19rem;
  font-weight: bold;
}
.section__title {
  font-size: 2.3rem;
  font-weight: bold;
}
.section__text {
  font-size: 1.2rem;
  line-height: 1.2;
}
.section__title + .section__text {
  margin-top: 1.1rem;
}

/* header */
header {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__wrapper {
  padding: 1.35rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.header__logo img {
  filter: invert(1);
  max-height: 2.5rem;
}
.header__logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

/* intro section */
#intro {
  text-align: center;
}
.intro__picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.intro__wrapper {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__title {
  font-size: 3.65rem;
  text-shadow: -2px -2px 0 black, -2px -1px 0 black, -2px 0px 0 black,
    -2px 1px 0 black, -2px 2px 0 black, -1px -2px 0 black, -1px -1px 0 black,
    -1px 0px 0 black, -1px 1px 0 black, -1px 2px 0 black, 0px -2px 0 black,
    0px -1px 0 black, 0px 0px 0 black, 0px 1px 0 black, 0px 2px 0 black,
    1px -2px 0 black, 1px -1px 0 black, 1px 0px 0 black, 1px 1px 0 black,
    1px 2px 0 black, 2px -2px 0 black, 2px -1px 0 black, 2px 0px 0 black,
    2px 1px 0 black, 2px 2px 0 black;
  max-width: 32.25rem;
  letter-spacing: 0.1rem;
  line-height: 1;
}
.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__suptitle {
  margin-top: 4.8rem;
}
.intro__text {
  max-width: 32.75rem;
}
