@import url(./reset.css);

@font-face {
  font-family: 'Outfit';
  src: url(../assets/fonts/Outfit-Bold.ttf);
  font-weight: 700;
  font-display: 'swap';
}
@font-face {
  font-family: 'Outfit';
  src: url(../assets/fonts/Outfit-Medium.ttf);
  font-weight: 500;
  font-display: 'swap';
}

:root {
  --gray-color: #c9cbcf;
  --red-color: #4d3559;
  --from-black: invert(20%) sepia(26%) saturate(1022%) hue-rotate(236deg)
    brightness(93%) contrast(85%);
  --red-shadow-color: rgba(77, 53, 89, 0.3);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  overflow-x: hidden;
}

html {
  font-size: 20px;
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
button {
  border: none;
  background-color: transparent;
}

body {
  font-size: 0.9rem;
  line-height: 1.1;
  color: #fff;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  background-color: #000;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}
.btn {
  font-size: 1.6rem;
  font-weight: bold;
  color: #000;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 1.2rem;
  background-color: var(--red-color);
  border: 0.2rem solid var(--red-color);
  border-radius: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: background-color 0.5s ease-in-out;
  cursor: pointer;
  font-family: 'Outfit', sans-serif;
}

.btn img {
  width: 1.6rem;
  height: 1.6rem;
  transition: all 0s ease-in-out;
}
input {
  border: none;
  background-color: transparent;
  font-family: 'Outfit', sans-serif;
  font-weight: 500;
  overflow-y: hidden;
}
input:focus-visible {
  outline: none;
}

.section__suptitle {
  color: var(--red-color);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.19rem;
  font-weight: bold;
}
.section__title {
  font-size: 2.3rem;
  font-weight: bold;
  margin-top: 0.1rem;
}
.section__text {
  font-size: 0.9rem;
  line-height: 1.2;
}
.section__text {
  margin-top: 1.1rem;
}
section + section {
  margin-top: 3.6rem;
}
.slider__arrow {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: var(--red-shadow-color);
  cursor: pointer;
}
.slider__arrow img {
  filter: var(--from-black);
}

#slider__arrow-prev {
  transform: rotate(180deg);
}
.slider__arrow:disabled {
  opacity: 0.5;
  cursor: inherit;
}
.with-gradient::after {
  content: '';
  position: absolute;
  top: 0;
  left: -1.6rem;
  height: 100%;
  width: 2.3rem;
  background-color: var(--red-shadow-color);
  z-index: -1;
  transform-origin: center top;
}

/* header */
header {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.header__wrapper {
  padding: 1.35rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.header__logo img {
  filter: invert(1);
  max-height: 2.5rem;
}
.header__logo span {
  font-size: 1.5rem;
  font-weight: bold;
}

/* intro section */
#intro {
  visibility: hidden;
  text-align: center;
}
.intro__picture {
  position: absolute;
  top: -5rem;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scale(1.1);
  transform-origin: center;
  /* transition: all 0.2s linear; */
}
.intro__wrapper {
  min-height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro__title {
  font-size: 3.65rem;
  text-shadow: -2px -2px 0 black, -2px -1px 0 black, -2px 0px 0 black,
    -2px 1px 0 black, -2px 2px 0 black, -1px -2px 0 black, -1px -1px 0 black,
    -1px 0px 0 black, -1px 1px 0 black, -1px 2px 0 black, 0px -2px 0 black,
    0px -1px 0 black, 0px 0px 0 black, 0px 1px 0 black, 0px 2px 0 black,
    1px -2px 0 black, 1px -1px 0 black, 1px 0px 0 black, 1px 1px 0 black,
    1px 2px 0 black, 2px -2px 0 black, 2px -1px 0 black, 2px 0px 0 black,
    2px 1px 0 black, 2px 2px 0 black;
  max-width: 32.25rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  position: relative;
}
.intro__title span {
  position: relative;
  overflow: hidden;
  display: block;
}
.intro__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.intro__suptitle {
  margin-top: 4.8rem;
}
.intro__text {
  max-width: 32.75rem;
  font-size: 1.2rem;
}

/* section places */
#places {
  max-width: 100wh;
  overflow-x: hidden;
}
#places .container {
  max-width: 62.5rem;
}
.places__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.places__content {
  padding: 0.8rem 0;
  position: relative;
}
.places__text {
  max-width: 22.5rem;
  margin-top: 2rem;
}
.places__slider-arrow {
  display: flex;
  gap: 0.5rem;
  margin-right: 3.5rem;
}
.places__slider {
  margin-top: 2rem;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
}
.places__slide {
  width: 14.6rem;
  height: 18.35rem;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;
}
.places__slide img {
  object-fit: cover;
}
.slider__text {
  position: absolute;
  bottom: 0.95rem;
  left: 0.7rem;
  background-color: #000;
  padding: 0.7rem 1.25rem 0.5rem;
  font-size: 1.2rem;
}
/* section worldover */
#worldover {
  margin-top: 6rem;
}
#worldover .with-gradient::after {
  width: 1.5rem;
  left: -0.75rem;
}
#worldover .container {
  max-width: 57.75rem;
}
.worldover__wrapper {
  display: grid;
  gap: 2.2rem;
  grid-template-columns: 1.25fr 1fr;
}
.worldover__title-content {
  position: relative;
  padding: 0.5rem 0 0.8rem;
}
.worldover__subtitle,
.signup__suptitle {
  font-size: 0.6rem;
  letter-spacing: 0.1rem;
}
.worldover__title,
.signup__title {
  font-size: 1.6rem;
  width: 100%;
}
.worldover__title {
  max-width: 15rem;
  margin-top: 0.2rem;
}
.worldover__text {
  margin-top: 0.2rem;
}
.worldover__number {
  display: flex;
  gap: 2rem;
  text-align: center;
  margin-top: 1.1rem;
}
.number__num {
  font-size: 1.2rem;
  color: var(--red-color);
  font-weight: bold;
}
.number__text {
  margin-top: 0.3rem;
}
.worldover__picture {
  margin-top: 0.6rem;
}

/* signup section */
#signup {
  margin: 7.4rem 0 5.1rem 4rem;
  text-align: center;
}
#signup .container {
  max-width: 25.4rem;
}
.signup__title {
  max-width: 15rem;
  margin-left: auto;
  margin-right: auto;
}
.signup__form {
  margin: 1.4rem auto 0;
  display: inline-flex;
  border: 0.2rem solid var(--red-color);
  padding: 0.2rem;
  border-radius: 3rem;
  flex: 0 0 auto;
  position: relative;
}
.signup__form label {
  display: none;
}
.signup__form input {
  padding: 0.9rem 0.6rem;
  width: 100%;
  border-radius: 3rem;
  font-size: 0.7rem;
}
.signup__form label {
  font-size: 0.7rem;
  color: var(--red-color);
  position: absolute;
  bottom: -1.2rem;
  left: 1.3rem;
}

.signup__btn {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  padding: 0rem 0.4rem;
  height: 2.7rem;
  /* overflow: hidden; */
}
.signup__btn span {
  white-space: nowrap;
  font-weight: bold;
  position: relative;
}
.signup__btn img {
  position: relative;
}

/* footer */
footer {
  border-top: 0.1rem solid var(--red-color);
  padding: 3.2rem 0 5.45rem;
}
footer .container {
  max-width: 79.6rem;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}
.footer__logo img {
  filter: invert(1);
  max-height: 2.5rem;
  width: auto;
}
.footer__logo-text {
  margin-top: 0.3rem;
}
.footer__title {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem;
  border-bottom: 0.2rem solid var(--red-color);
}
.footer__list {
  margin-top: 0.85rem;
}
.footer__item + .footer__item {
  margin-top: 0.3rem;
}

@media (hover: hover) {
  .btn:not([disabled]):hover {
    background-color: #000;
    color: var(--red-color);
    transition: background-color 0.5s ease-in-out;
  }
  .btn:not([disabled]):hover img {
    filter: var(--from-black);
  }
  .slider__arrow:hover:not(:disabled) {
    background-color: var(--red-color);
  }
  .slider__arrow:hover:not(:disabled) img {
    filter: none;
  }
  .places__slide img {
    filter: grayscale(1);
    transition: all 0.5s ease-in-out;
  }
  .slider__text {
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  .places__slide:hover img,
  .places__slide.active img {
    filter: grayscale(0);
  }
  .places__slide:hover .slider__text,
  .places__slide.active .slider__text {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: clamp(1.6rem, 10vw, 3.65rem);
  }
  .btn {
    font-size: 1.2rem;
  }
  .section__suptitle {
    font-size: clamp(0.6rem, 3vw, 1.2rem);
  }
  .section__title {
    font-size: clamp(1.6rem, 4vw, 2.3rem);
  }
  .section__text {
    font-size: clamp(0.9rem, 3vw, 1.2rem);
  }
  .with-gradient::after {
    display: none;
  }
  .places__wrapper {
    flex-direction: column;
    text-align: center;
  }
  .places__text {
    margin-top: 1.1rem;
  }
  .places__slider-arrow {
    margin-right: 0;
  }
  .places__slider {
    margin-top: 1rem;
  }
  #worldover {
    margin-top: 3rem;
    text-align: center;
  }
  .worldover__title {
    max-width: 100%;
  }
  .worldover__wrapper {
    gap: 1.1rem;
    grid-template-columns: 1fr;
  }
  .worldover__content {
    order: -1;
  }
  #signup {
    margin: 3rem 0 2rem;
  }
  footer {
    padding: 1.5rem 0 2.5rem;
  }
  .footer__logo {
    justify-content: center;
  }
  .footer__nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }
}
